<div class="testimonial row mt-3">
    <div class="col-12 col-md-1">
        <img src="{{ include.client.testimonial.profile_picture }}" height="60px" alt="Photo de profil de {{ include.client.testimonial.full_name }}" class="profile-picture">
    </div>

    <div class="col-12 col-md-11 mt-3 mt-md-0">
        <blockquote cite="{{ include.client.company_website }}">
            <p>
                "{{ include.client.testimonial.content }}
            </p>
            <footer><cite>{{ include.client.testimonial.full_name }}, {{ include.client.testimonial.position }} <a href="{{ include.client.company_website }}" target="_blank">{{ include.client.company_name }}</a></cite></footer>
        </blockquote>
    </div>
</div>