<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Adrien Blandin | {{ page.title }}</title>
        
        <meta name="description" content="{{ site.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:locale" content="fr" />
        <meta property="og:title" content="Adrien Blandin | {{ page.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ page.url }}" />
        <meta property="og:image" content="/assets/images/profile.jpg" />
        <meta property="og:site_name" content="{{ site.title }}" />
        
        {% include assets.html %}
    </head>

    <body>
        <div class="container">
            {% include navbar.html %}

            <header class="container-header">
                <div class="profile-picture-container">
                    <img src="/assets/images/profile.jpg" width="128px" height="128px" class="profile-picture" alt="Photo de profil de Adrien Blandin">
                </div>
            
                <h1>
                    {{ page.container_title }}
                </h1>

                {% if page.container_description %}
                    <p>
                        {{ page.container_description }}
                    </p>
                {% endif %}
            </header>
        
            <div class="container-content">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
