
<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        
        <meta name="description" content="{{ site.description }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:locale" content="fr" />
        <meta property="og:title" content="{{ site.title }}" />
        <meta property="og:description" content="{{ site.description }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url }}" />
        <meta property="og:image" content="/assets/images/profile.jpg" />
        <meta property="og:site_name" content="{{ site.title }}" />
        
        <!-- <link rel="stylesheet" href="/assets/main.css" /> -->
        <link rel="stylesheet" href="/assets/css/custom.css" />

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />

        <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            
            function gtag() {
                dataLayer.push(arguments);
            }
            
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics_id }}');
            gtag('config', '{{ site.google_ads_id }}');

            document.addEventListener("DOMContentLoaded", function(e) {
                const calendlyButtons = document.querySelectorAll(".calendly-button");

                calendlyButtons.forEach(function (calendlyButton) {
                    calendlyButton.addEventListener("click", function() {                        
                        gtag('event', 'conversion', {
                            'send_to': '{{ site.google_ads_id }}/TPfeCOK-q4cZEKWw6NUD'
                        });
                    });
                });
            });
        </script>
    </head>

    <body>
        <div class="container">
            {% include navbar.html %}

            <header class="container-header">
                <div class="profile-picture-container">
                    <img src="/assets/images/profile.jpg" width="128px" height="128px" class="profile-picture" alt="Photo de profil de Adrien Blandin">
                </div>
            
                <h1>
                    <u><strong>Adrien Blandin</strong></u>, votre CTO en freelance à Lyon
                </h1>

                {% if page.container_description %}
                    <p>
                        {{ page.container_description }}
                    </p>
                {% endif %}
            </header>
        
            <div class="container-content">
                {{ content }}
            </div>

            {% include footer.html %}
        </div>
    </body>
</html>
